<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css" />
</head>

<body>
    <ul>
      <li><a class="active" href="/">OP.GG</a></li>
      <li><a href="/object-detection">Object Detection</a></li>
      <li><a href="/sentiment-analysis">Sentiment Analysis</a></li>
    </ul>

    <div>
        <h1 style="text-align: center">File Upload & Object Detection Complete !!</h1>
        <a href="/return-file"><h1>Download</h1></a>
    </div>
</body>
</html>