<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Object Detection</title>
        <link rel="stylesheet" type="text/css" href="../static/index.css" />
    </head>
    <body>
        <ul>
          <li><a class="active" href="/">OP.GG</a></li>
          <li><a href="/object-detection">Object Detection</a></li>
          <li><a href="/sentiment-analysis">Sentiment Analysis</a></li>
        </ul>
        <div style="text-align: center; margin-top: 150px">
            <h1>Sentiment Analysis - KcELECTRA</h1>
            <h2>↓ 한국어 문장 입력 ↓</h2>
            <form action="/od-download" method="POST" enctype="multipart/form-data">
                <input type="text" name="text" height="150px" size="100px"/>
                <input type="button" value="입력"/>
            </form>
            <br>
        </div>
    </body>
</html>